body {
    background-image: url(../images/brickwall/brickwall.png)
}

div {
    position: relative;
    overflow: hidden;
}

h1 {
    font-family: cursive !important;
    font-size: 36px;
    color: teal !important;
    font-weight: bold !important;
    display: inline-block;
}

form {
    float: right;
    text-align: center;
}

#add-person {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 15px;
    padding: 5px 15px;
    background-color: teal;
    margin: 13px;
}

label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: teal;
    margin: 20px;
}

